@font-face {
    font-family: 'Alial';
    src: url('/fonts/AlialSerif-Regular.ttf') format('truetype'); /* relative path to static folder */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alialnum';
    src: url('/fonts/AlialSerif_Fallback-Regular.ttf') format('truetype'); /* relative path to static folder */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root{
--global-color-1: #FFFFFF; /* bg-color in light mode and text color in dark mode*/
--global-color-2: #181818; /* bg-color in dark mode and text color in light mode*/
--global-color-1-o: #ffffffe3; /* bg-color in light mode and text color in dark mode with lowered opacity*/
--global-color-2-o: #181818e3; /* bg-color in dark mode and text color in light mode with lowered opacity*/
--global-color-3: #FF00FF; /* main accent color and text color for TopBar*/
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Alial, Alialnum;
}
body{
    @apply dark:bg-[var(--global-color-2)] bg-[var(--global-color-1)];
    height: 100vh;
}
#TopBar{
    display:flex;
    flex-direction:row;
    top: 0rem;
    width: 100%;
    position: fixed;
    @apply dark:text-[var(--global-color-1)] dark:bg-[var(--global-color-2-o)] text-[var(--global-color-3)] bg-[var(--global-color-1-o)];
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
#Anzeige{
    position: relative;
    left: 45%;
    top: 1rem;
    font-size: 2rem;
    @apply dark:text-[var(--global-color-1)] text-[var(--global-color-3)];
    z-index: 1;
}
#Banner{
    display:flex;
    flex-direction:row;
    margin-top: 4rem;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
.BannerElement{
    border-radius: 15px;
    @apply dark:border-[var(--global-color-1)] border-[var(--global-color-2)];
    @apply dark:text-[var(--global-color-1)] text-[var(--global-color-2)];
    padding: 1rem;
    @apply dark:bg-linear-to-tl dark:from-[var(--global-color-2)] dark:to-[var(--global-color-3)] bg-linear-to-bl from-[var(--global-color-3)] to-[var(--global-color-1)];
    @apply dark:shadow-[5px_5px_3px_rgba(255,255,255,0.5)] shadow-[-5px_5px_3px_rgba(0,0,0,0.25)];
}
#Logo{
    display: flex;
    justify-content: left;
}
#In{
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @apply dark:bg-[var(--global-color-1)] bg-[var(--global-color-3)];
    @apply dark:text-[var(--global-color-3)] text-[var(--global-color-1)];
}
#AzubiBlock{
    display: flex;
    justify-content: center;
}
#AzubiBlock > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 2rem;
    width: 80vw;
    border-radius: 15px;
    @apply dark:border-[var(--global-color-1)] border-[var(--global-color-2)];
    @apply dark:text-[var(--global-color-1)] text-[var(--global-color-2)];
    padding: 1rem;
    @apply dark:bg-linear-to-tl dark:from-[var(--global-color-2)] dark:to-[var(--global-color-3)] bg-linear-to-bl from-[var(--global-color-3)] to-[var(--global-color-1)];
    @apply dark:shadow-[5px_5px_3px_rgba(255,255,255,0.5)] shadow-[-5px_5px_3px_rgba(0,0,0,0.25)];
}
.AzubiName{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.Input{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.AzubiText{
    font-size: 2rem;
    justify-content: center;
    padding-top: 1rem;
    width: 80%;
}

#nav{
    position: fixed;
    top: 5rem;
    right: 1rem;
    @apply dark:text-[var(--global-color-1)] dark:bg-[var(--global-color-2-o)] text-[var(--global-color-3)] bg-[var(--global-color-1-o)];
    font-weight: bold;
    font-size: 2rem;
}

#nav :hover{
    font-style: italic;
}

#TopBar >div >a:hover{
    font-style: italic;
}

#submit:hover{
    color: var(--global-color-3);
    font-weight: bold;
    cursor: pointer;
}

#homeMsg{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    @apply dark:text-[var(--global-color-1)] text-[var(--global-color-2)];
    width: fit-content;
    height: fit-content;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: 5px solid;
    @apply dark:border-[var(--global-color-1)] border-[var(--global-color-2)];
    @apply dark:bg-linear-to-tl dark:from-[var(--global-color-2)] dark:to-[var(--global-color-3)] bg-linear-to-bl from-[var(--global-color-3)] to-[var(--global-color-1)];
    border-radius: 15px;
}

.post-form-container {
    display: block;
    justify-content: center;
    top: 5rem;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 15px;
    @apply dark:border-[var(--global-color-1)] border-[var(--global-color-2)];
    @apply dark:text-[var(--global-color-1)] text-[var(--global-color-2)];
    @apply dark:bg-linear-to-tl dark:from-[var(--global-color-2)] dark:to-[var(--global-color-3)] bg-linear-to-bl from-[var(--global-color-3)] to-[var(--global-color-1)];
    @apply dark:shadow-[5px_5px_3px_rgba(255,255,255,0.5)] shadow-[-5px_5px_3px_rgba(0,0,0,0.25)];
}

h1 {
    text-align: center;
    @apply dark:text-[var(--global-color-1)] text-[var(--global-color-2)];
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    @apply dark:text-[var(--global-color-1)] text-[var(--global-color-2)];
}

input[type="text"],
input[type="number"],
textarea {
    width: calc(100% - 1rem);
    padding: 0.8rem;
    border: 1px solid;
    @apply dark:border-[var(--global-color-1)] border-[var(--global-color-2)];
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    min-height: 3rem;
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    @apply dark:bg-[var(--global-color-2)] bg-[var(--global-color-1)];
    @apply text-[var(--global-color-3)];
    font-weight: bold;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover:not(:disabled) {
    @apply dark:bg-[var(--global-color-1)] bg-[var(--global-color-2)];
}

button[type="submit"]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.error-message {
    color: #ff0019;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.success-message {
    color: #28a745; /* Green */
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

#teamPicker {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: bold;
    @apply dark:text-[var(--global-color-1)] text-[var(--global-color-2)];
    width: 50vw;
    height: fit-content;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: 5px solid;
    @apply dark:border-[var(--global-color-1)] border-[var(--global-color-2)];
    @apply dark:bg-linear-to-tl dark:from-[var(--global-color-2)] dark:to-[var(--global-color-3)] bg-linear-to-bl from-[var(--global-color-3)] to-[var(--global-color-1)];
    border-radius: 15px;
}

#teamPicker >a:hover{
    @apply dark:text-[var(--global-color-3)] text-[var(--global-color-1)];
    font-weight: bold;
}

#FilterTextLabel{
    @apply dark:text-[var(--global-color-1)] text-[var(--global-color-3)];
    padding: 1rem;
    @apply dark:border-[var(--global-color-1)] border-[var(--global-color-2)];
    @apply dark:bg-linear-to-tl dark:from-[var(--global-color-2)] dark:to-[var(--global-color-3)] bg-linear-to-bl from-[var(--global-color-3)] to-[var(--global-color-1)];
    border-radius: 15px;
    @apply dark:shadow-[5px_5px_3px_rgba(255,255,255,0.5)] shadow-[-5px_5px_3px_rgba(0,0,0,0.25)];
}